Checks: '*,
  -altera-unroll-loops,
  -altera-id-dependent-backward-branch,
  -altera-struct-pack-align,
  -cert-err58-cpp,
  -clang-diagnostic-padded,
  -clang-diagnostic-unknown-warning-option,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-vararg,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-default-arguments,
  -fuchsia-multiple-inheritance,
  -fuchsia-overloaded-operator,
  -fuchsia-trailing-return,
  -google-explicit-constructor,
  -google-readability-braces-around-statements,
  -google-runtime-int,
  -hicpp-braces-around-statements,
  -hicpp-invalid-access-moved,
  -hicpp-no-array-decay,
  -hicpp-no-malloc,
  -hicpp-vararg,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-definitions-in-headers,
  -modernize-use-trailing-return-type,
  -Wimplicit-fallthrough=,

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
