*.pdf binary
*.h text eol=lf
*.cpp text eol=lf
*.symbols text eol=lf
*.ftr text eol=lf
*.wav filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
*.ark filter=lfs diff=lfs merge=lfs -text
*.asp filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
